/* Profile sidebar */
.page-sidebar {
    padding: 20px 0 10px 0;
    background: #fff;
}

/* Profile Content */
.page-content {
    padding: 20px;
    background: #fff;
    min-height: 400px;
}

.sidebar-buttons {
    text-align: center;
    margin-top: 10px;
}

.sidebar-buttons .btn {
    padding: 10px;
    margin: 5px;
    width: 60%;
}

.sidebar-buttons .btn:last-child {
    margin-right: 0;
}

.ui-autocomplete {
    z-index: 2000;
    left: 40%;
    top: 45px;
}