body {
    background: #F1F3FA;
    padding-top:100px;
}

#menu-panel {
    float: top;
    color: #bdbdbd;
}

/* Profile container */
.profile {
    margin: 20px 0;
}

.profile-userpic img {
    width: 220px;
    height: 220px;
    float: none;
    margin-left: auto;
    margin-right: auto;
    display: block;
    /*max-width: 50%;*/
    /*max-height: 50%;*/
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
    border: 1px solid rgba(59, 59, 59, 0.8);
}

.profile-user {
    text-align: center;
    margin-top: 20px;
}

.profile-user-name {
    text-align: left;
    color: #5a7391;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
}

.profile-user-contact {
    /*text-transform: uppercase;*/
    text-align: left;
    color: #4184d1;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
}